/* Import Fonts from fonts.css */
@import url(./fonts.css);

html{
    scroll-behavior: smooth; /* For Smooth Scrolling Behaviour */
}

/* ====================== GLOBAL CLASSES =====================*/


.primary-button{
    margin-top: .8rem;
    padding: .8rem 1.5rem;
    font:normal 510 20px/15px 'Montserrat', sans-serif;
    position: relative;
    cursor: pointer;
    background:whitesmoke;
    opacity: .9;
    background-clip: padding-box;
    color: rgb(17,17,17) ;
    box-shadow: 5px 10px 30px rgb(31, 30, 30);
    overflow:hidden;
}


.primary-button:hover{
    background-color: rgb(17,17,17);
    background-clip: padding-box;
    color: #00b7ff;
    transition: 1s ease;
    box-shadow: none;
    
}

.primary-button::before{
    content: "";
    position: absolute;
    left:0px;
    width: 100%;
    height: 0%;
    background: whitesmoke;
    z-index: -1;
    transition: all .8s ease;
    bottom: 0;
    border-radius: 50% 50% 0 0;
    height: 180%;
}

.primary-button:hover::before{
    height: 0%;
    border: 1px solid #00b7ff;

}

.secondary-button{
    margin-top: .8rem;
    padding: .8rem .5rem;
    font:normal 510 20px/15px 'Montserrat', sans-serif;
    position: relative;
    cursor: pointer;
    background: rgb(17,17,17);
    opacity: .9;
    background-clip: padding-box;
    color: #00b7ff;
    opacity: .8;
    overflow:hidden;
    border-radius: 0;
    border-bottom: 1px solid #00b7ff;
}


.secondary-button:hover{
    background-color: whitesmoke;
    background-clip: padding-box;
    color: rgb(17,17,17);
    transition: 1s ease;
    box-shadow: none;
    box-shadow: 5px 10px 30px rgb(31, 30, 30);
    border: none;
    border-radius: 2px;
}

.secondary-button::before{
    content: "";
    position: absolute;
    left:0px;
    width: 100%;
    height: 0%;
    background: rgb(17,17,17);
    z-index: -1;
    transition: all .8s ease;
    bottom: 0;
    border-radius: 50% 50% 0 0;
    height: 180%;
}

.secondary-button:hover::before{
    height: 0%;
}

p.para{
    color: rgb(163, 163, 163);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}

/* ----------------------------------------------------------- */

/* ===================Body================= */
body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(17,17,17);
    opacity: .9;
}
/* ==============Logo============ */
.logo{
    margin-left: 4px;
    margin-top: -4px;
    height: 5rem;
    width: 3rem;
    z-index: 3;
}

/* ---------------- Top Navigation Bar ----------------*/
.navbar{
 background-color: rgb(17,17,17);
 height: 10%;
}

/* -==================== Start Bottom Navigation Bar================= */
.bottom-navbar{
    font-family: 'Montserrat', sans-serif;
    height: 8%;
    font-size: 1.3rem;
    background: rgb(17,17,17);
}

.nav-item{
    color: rgb(116, 116, 116);
    font-weight: 500;
    opacity: .8;
}

.nav-item:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    transition: all .5s ease;
}

/* -----------------------End Bottom Navigation Bar----------------- */


/* ----------------Hamburger ------------*/
.hamburger{
    margin-top: 8px;
    right: 0px;
    margin-right: 1.5rem;
    width: 55px;
    height:55px;
    position: fixed;
    cursor: pointer;
    background: transparent;
    z-index: 3;
}
/* ----------------Sandwich --------------*/
.hamburger div{
    width: 35px;
    height: 5px;
    background: #ffffff;
    opacity: 1;
    position: absolute;
    transition: all 1s ease;
}
/* ===========================Layers Of Sandwich ==================*/
.hamburger .first{
    top:10px;
    left:10px;
}
.hamburger .second{
    top:25px;
    left:10px;
}
.hamburger .third{
    top:40px;
    left:10px;
}
/* ---------------Cross After Clicking on Hamburger-------------- */
.hamburger.active .first{
    transform: translate(0px, 20px) rotate(45deg);
    transition: all 1s ease;
    background-color: #00b7ff;
}
.hamburger.active .second{
    transform: translate(0px, 0px) rotate(135deg);
    transition: all 1s ease;
    background-color: #00b7ff;
}
.hamburger.active .third{
    /*transform: translate(13.9px, -12px) rotate(90deg);*/
    opacity: 0;
    transition: all 0.2s ease;
    background-color: #00b7ff;
}
.hamburger.active{
    border-radius:50%;
    transform: rotate(360deg);
    transition: all 1s ease;
    
}


/* ================================Start Banner Area ==========================*/

.site-main .site-banner .site-title h3{
    padding-top: 30%;
    font-weight: 500;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    opacity: .8;
    margin-left: 5px;
}
/*
.site-main .site-banner .site-title h3::after{
    content: "";
    height: 3px;
    width: 29.3vw;
    background: white;
    opacity: .8;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-12px);
}
\*/
.site-main .site-banner .site-title h1{
    font-size: 6.5rem;
    color: rgb(255, 255, 255);
    opacity: 9;
}
.site-main .site-banner .site-title h4{
    font-size: 2rem;
    font-weight: 300;
    color: #ffffff;
    opacity: .7;
    margin-left: 5px;
}
.site-main .site-banner .banner-img{
    margin-top: 12.2rem;
    height: 400px;
}
.site-main .site-banner .banner-img > img{
    max-width: 100%;
    height: auto;   
}

/* --------------------------------End Banner Area----------------------- */



/*================================ Start About Me ========================*/

.site-main .about-area{
    padding-top: 2rem;
    padding-bottom: 7rem;
}

.about-img{
    padding-top: 7vw;
    left: 0;
}
.about-title{
    padding-top: 6vw;
    padding-left: 2vw;
}
.site-main .about-area .about-title h2 > span, .contact-title h2, .project-title h2{
    display: block;
    font-weight: 500;
    font-size: 2.5rem;
    color: white;
    opacity: .8;
    font-family: 'Montserrat', sans-serif;
    letter-spacing:.2rem;
}
/*-------------------------------- End About Me ------------------------*/

/* ============================= Start Project Area =========================== */

.site-main .projects-area{
    padding-top: 6rem;
    padding-bottom: 8rem;
    text-align: center;
}

.project-image{
    padding-top: 3rem;
    opacity: 0.1 ;
}


/* ---------------------------- End Project Area ------------------------------- */

/*================================ Start Contact =========================*/

.contact-area{
    padding-top: 3rem;
}

.contact-img{
    padding-top: 5.5vw;
    padding-bottom: 5vw;
    left: 0;
}
.contact-title{
    padding-top: 6vw;
    padding-left: 2vw;
}

.crazy-face{
    color: whitesmoke;
    opacity: .7;
    font-size: 22px;
    padding-left: 7px;
}

.social-buttons a{
    display: inline-flex;
    text-decoration: none;
    font-size: 30px;
    margin-right: 2rem;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: .9;
    color: rgb(17,17,17);
}

.social-buttons a::before{
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: white;
    opacity: .9;
    border-radius: 50%;
    z-index: -1;
    transition: all .3s ease-in;
}

.social-buttons a:hover::before{
    transform:scale(0);
    background-color: #00b7ff;
}
.social-buttons a i{
    transition: all 0.5s ease-in;
}
.social-buttons a:hover i{
    color: #00b7ff;
    transform: scale(1.5);
    transition: all 1s ease;
    opacity: .9;
}

/*-------------------------------- End Contact ---------------------------*/

/* ======================== Start Footer ========================== */

/* Start Mouse Scroll Effect */

.mouse-scroll{
    position: fixed;
    bottom: 60px;
    left: 49%;;
    width: 26px;
    height: 39px;
    border: 1.9px solid rgb(233, 233, 233);
    opacity: .8;
    opacity: .7 ;
    border-radius: 50px;
}

.mouse-scroll:after{
    position: absolute;
    top: 6px;
    width: 2px;
    height:7px;
    content: " ";
    background-color: rgba(255, 255, 255, 0.842);
    opacity: .8;
    transform: translateX(-50%);
    left: 51%;
    border-radius: 10px;
    animation: mouse 2.5s infinite;
    transition: all 2s ease;
}

@keyframes mouse{
    0% {
        opacity: 1;
        top: 6px;
    }
    100% {
        opacity: 0;
        top: 15px;
    }
}


/* End Mouse Scroll Effect */

/* ------ Start Top Button ----- */

.top-button{
    position: fixed;
    bottom: 60px;
    right: 25px;
    font-size: 22px;
    width: 40px;
    height: 40px;
    background-color: white;
    opacity: .8;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 3;
    display: none;
}

.top-button:hover{
    background-color: rgb(17,17,17);
    color: #00b7ff;
    transform: scale(1.3);
    opacity: .9;
    transition: .8s ease;
}

/* ------ End Top Button ----- */

.heart{
    color: #00b7ff;
    opacity: .8;
}
.footer-area{
    justify-content: center;
    align-items: center;
    text-align: center;
    color:  white;
}
.footer-area,.footer-area a{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    text-decoration: none;
    opacity: .9;
}

.footer-area a:hover{
    color: #00b7ff;
    font-weight:400;
    transform: scale(2);
}

/* ======================== End Footer ========================= */


/*  FONT
/*  font-family: 'Montserrat', sans-serif;
/*
/*
/*
/*  
/* 