/* Import Fonts from fonts.css */
@import url(./fonts.css);

body{
    margin: 0px;
    padding: 0px;
    background-color: #000;
}
/* Logo */
.logo{
    margin-left: 0%;
    margin-top: -4px;
    height: 5rem;
    width: 3rem;
}

.navbar{
 background-color: rgb(0, 0, 0);
 height: 10%;
}

/* Hamburger */
.hamburger{
    margin-top: 8px;
    right: 0px;
    margin-right: 1rem;
    width: 55px;
    height:55px;
    position: fixed;
    cursor: pointer;
    background: transparent;
}
/* Sandwich */
.hamburger div{
    width: 35px;
    height: 5px;
    background: #ffffff;
    opacity: 1;
    position: absolute;
    transition: all 1s ease;
}
/* Layers Of Sandwich */
.hamburger .first{
    top:10px;
    left:10px;
}
.hamburger .second{
    top:25px;
    left:10px;
}
.hamburger .third{
    top:40px;
    left:10px;
}
/* Cross After Clicking on Hamburger */
.hamburger.active .first{
    transform: translate(0px, 20px) rotate(45deg);
    transition: all 1s ease;

}
.hamburger.active .second{
    transform: translate(0px, 0px) rotate(135deg);
    transition: all 1s ease;

}
.hamburger.active .third{
    opacity: 0;
    transition: all 0.2s ease;

}
.hamburger.active{
    border-radius:50%;
    transform: rotate(360deg);
    transition: all 1s ease;
}

/* Start Banner Area */

.site-main .site-banner .site-title h3{
    padding-top: 30%;
    font-weight: 500;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    opacity: .8;
    margin-left: 5px;
}
.site-main .site-banner .site-title h3::after{
    content: "";
    height: 3px;
    width: 29.3vw;
    background: white;
    opacity: .8;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-12px);
}
.site-main .site-banner .site-title h1{
    font-size: 6.5rem;
    color: rgb(255, 255, 255);
    opacity: ;
}
.site-main .site-banner .site-title h4{
    font-size: 2rem;
    color: rgb(255, 255, 255);
    opacity: .8;
    margin-left: 5px;
}
.site-main .site-banner .banner-img{
    margin-top: 8rem;
    height: 400px;
}
.site-main .site-banner .banner-img > img{
    max-width: 100%;
    height: auto;   
}

/* End Banner Area */

.bottom-navbar{
    font-family: 'Montserrat', sans-serif;
    height: 8%;
    font-size: 1.2rem;
    background: rgb(0, 0, 0);
}
.nav-item{
    color: rgb(116, 116, 116);
    padding-top: 0px;
    font-weight: 500;
    opacity: .8;
    transition: all .2s ease;
}

.nav-item:hover{
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    transition: all .2s ease;

}